body {
  background: #f8e7e7;
  color: #724060;
  font-family: "Poppins", sans-serif;
}

.city-display {
  display: flex;
  justify-content: space-between;
}

h1,
h2 {
  font-family: "Abril Fatface", serif;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 36px;
  margin: 0;
}

select {
  background-color: #fff9f9;
  border-radius: 8px;
  display: block;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin: 20px auto;
  width: 100%;
}

small {
  font-size: 24px;
  vertical-align: middle;
}

footer {
  text-align: center;
}

a {
  color: #a070a1;
  font-weight: 500;
}

a:hover {
  color: #724060;
}

.container {
  background: #fff9f9;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: block;
  margin: 30px auto;
  max-width: 40%;
  padding: 30px;
}

.time-display {
  font-size: 50px;
}

.city-display {
  border-bottom: 1px dashed #724060;
  padding: 20px;
}

.city-display:last-child {
  border-bottom: none;
}
