body {
  background: #f8e7e7;
  color: #724060;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  font-family: "Abril Fatface", serif;
}

h2 {
  font-family: "Poppins", sans-serif;
}

a {
  color: #a070a1;
  font-weight: 800;
  text-decoration: none;
}

a:hover {
  color: #724060;
}

.container {
  background: #fdf3f3;
}
